@font-face {
  font-family: "Charis SIL";
  src: url('/fonts/CharisSIL-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Charis SIL";
  src: url('/fonts/CharisSIL-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Charis SIL";
  src: url('/fonts/ICharisSIL-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Charis SIL";
  src: url('/fonts/CharisSIL-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Fraunces";
  src: url('/fonts/Fraunces[SOFT,WONK,opsz,wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: 'SOFT' 0 100, 'WONK' 0 1, 'opsz' 9 144;
}

:root {
  --body-font: 'Charis SIL', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --title-font: 'Fraunces', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --border: #edeae8;
  --text: #06060e;
  --background: #faf6f4;
  --primary: #664a75;
  --secondary: #a0b698;
  --accent: #6fa072;
}

body {
  color: var(--text);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--title-font);
  font-variation-settings: 'SOFT' 100, 'WONK' 1;
}

input, textarea {
  font-family: var(--title-font);
  font-weight: 300;
  padding: 0.5em;
  border: var(--border) 1px solid;

  &:focus-visible {
    outline: 2px solid var(--accent);
  }
}

a {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;

  &:after {
    content: "";
    position: absolute;
    background: var(--primary);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: 0.3s transform ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1.0);
    transform-origin: bottom left;
  }
}

button {
  cursor: pointer;
  font-family: var(--title-font);
  padding: 0.5rem;
  background: var(--accent);
  border: none;
  transition: 0.3s ease-in all;

  &:hover {
    background: var(--secondary);
  }

  &:focus {
    color: var(--background);
    background: var(--text);
    transition: none;
  }
}