@font-face {
  font-family: "IBM Plex Serif";
  src: url('/fonts/IBMPlexSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url('/fonts/IBMPlexSerif-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url('/fonts/IBMPlexSerif-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url('/fonts/IBMPlexSerif-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Azeret Mono";
  src: url('/fonts/AzeretMono-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --body-font: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
  --title-font: 'Azeret Mono', 'Courier New', Courier, monospace;
  --border: #cecece;
  --text: #0a0807;
  --background: #faf8f7;
  --primary: #a7665a;
  --secondary: #d6afa7;
  --accent: #c57e70;
}

body {
  color: var(--text);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1, h2, h3 { font-family: var(--title-font); }

input, textarea {
  font-family: var(--title-font);
  font-weight: 300;
  padding: 0.5em;
  border: var(--border) 1px solid;

  &:focus-visible {
    outline: 2px solid var(--accent);
  }
}

a {
  position: relative;
  color: var(--primary);
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    background: var(--primary);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: 0.3s transform ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1.0);
    transform-origin: bottom left;
  }
}

button {
  font-family: var(--title-font);
  font-weight: bold;
  padding: 0.5rem;
  background: var(--accent);
  border: none;
  transition: 0.3s ease-in all;

  &:hover {
    background: var(--secondary);
  }

  &:focus {
    color: var(--background);
    background: var(--text);
    transition: none;
  }
}